*{

	font-family: 'Didact Gothic', serif;
}

body{ 

  overflow-x: hidden;
  font-family: 'Didact Gothic', serif;
}

.brand{
    
    color: white;
}

h3.header-text {

/*	font-size: 2.5em;
	font-weight: 200;
	margin-bottom: -5px;*/
	font-family: 'Didact Gothic', serif;
}

h4.media-heading { 

	font-size: 21px;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 120%;
    padding-bottom: 3%;
}

.media-body p {

	font-size: 110%;
	font-weight: 200;
	margin-left: 20px;
    letter-spacing: 1.2px;
    word-spacing: -2px;	
    margin-left: 10px;
}

.media-box {

	margin: 2%;
	padding:0px 20%;
	color: #262626;
	border-radius: 1.5px;
}

.media-box .media-list {
    padding-bottom: 25px;
    border-bottom: 3px dashed #a1d7d4;
    width: 100%%;
    padding-left: 15px;
}

.media .pull-left {
  padding: 30px 30px 0px 0px;
}

.hero-text-title {

/*  font-size: 154%;
  letter-spacing: normal;
  font-weight: normal;
  line-height: 1.2;*/
  color: #262626;
}
.hero-text {

/*	font-family: 'Didact Gothic', serif;
	font-size:18px;
	line-height:25px;
	font-weight:200;*/
}
.hero-text-bold {
/*
	font-size:20px;
	line-height:27px;
	font-weight:200;*/
}

/* Nav */

.navbar {
  width: 100%;
  float: left;
  background-color: #a1d7d4;
  height: 45px;
  padding-top: 10px;
  padding-left: 40px;
  margin-bottom: 10vh;
}

.navbar .brand {
  float: left;
  margin-right: 40px;
}
nav ul li {
  float: left;
  margin-left: 40px;
}

nav ul li a {
  color: white;
}

#mobile-nav {
  display: none;
  background-color: #a1d7d4;
  width: 100%;
  float: left;
  overflow: auto;
  padding: 20px;  
}

#mobile-nav ul li {
  float: left;
  width: 100%;
  text-align: center;
}

/*---*/

/*######################## new ########################*/
header {
  width: 100%;
  float: left;
  clear: both;
  padding: 0px 5%;
}

#logo {
      font-family: helvetica;
      font-weight: 100;
      font-size: 38px;
      line-height: 36px;
      border: dotted 4px #a1d7d4;
      border-radius: 5px;
      width: 130px;
      height: 130px;
      padding: 25px 15px 15px 0px;
      text-decoration: none;
      color: #a1d7d4;
      float: left;
      margin: 30px;
    }
#hero {
  width: 100%;
}
#principles-list > ol {
  width: 100%;
  margin: auto;
}

#principles-list ol li {
   clear: left;
    font-weight: 800;
    padding: 40px 10% 20px;
    list-style-position: inside;
}

#principles-list ol li ol li {
  font-weight: 100;
  border-bottom: none;
  padding: 10px 10px;
}

.header-text {
  width: 100%;
  float: left;
  clear: both;
  margin: 40px 0px;
}

footer {
  padding: 40px;
  width: 100%;
  float: left;
  border-top: dotted 4px #a1d7d4;
}

hr {   
  width: 100%;
  float: left;
}

.calm-tech-example {
  padding: 40px 0px 20px;
}

.calm-tech-example h4 {
  margin-top: 0px;
}
/* border style */

hr, .calm-tech-example, #principles-list ol li {
  border-bottom: dotted 4px #a1d7d4;
}

.calm-tech-example:last-child {
  border-bottom: none;
}

section {
  margin:20px 0px;
}
/*######################## mobile ########################*/
/*Mobile Nav*/



/*---*/

@media all and (min-width: 770px)
  {
  #panel, #flip{
      display:none;
  }
}
@media all and (max-width: 768px)
  {
  	.navbar{
  		display:none;
  	}
    ul li {
      list-style-type: none;
    }

    a{
      text-decoration: none;
    }

    #mobile-nav {
      display: block;
      position: relative;
      min-height: 60px;
    }
    #panel {
        width: 100%;
        color:white;
        text-align: center;
        text-decoration: none;
        float: left;
        display: none;
    }

#flip {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      width: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      color: white;
      height: 10px;
      padding: 10px 0px 11px;
      cursor: pointer;
      overflow: auto;
      position: relative;
      z-index: 1000;
    }

  #flip hr {
    width: 100%;
    border-bottom: 1px solid white;
    height: 1px;
    margin: 0px;
  }
    #panel li{
        margin-right: 30px;
        padding: 3px;
    }

    #panel a{
    	color: lightgrey;
    	font-size: 120%;
    	letter-spacing: 1px;
    }

    #panel {
        display: none;
    }
  }
